<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<!--meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"-->
	<title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600">
	<link rel="stylesheet" href="css/main.css">
	<link rel="icon" href="img/favicon.ico">
</head>
<body>
	<nav class="mainnav">
        <div class="container">
            <a href="" class="logo"></a>
            <div class="pull-right">
                <div class="burger">
                    <i></i>
                    <div class="pages">
                        <div class="pages-links">
                            <div class="half">
                                <a href="">HOME</a>
                                <a href="">THE COMPANY</a>
                                <div class="sub-links">
                                    <a href="">About Us</a>
                                    <a href="">The team</a>
                                </div>
                                <a href="">EMPLOYERS</a>
                            </div>
                            <div class="half">
                                <a href="">STUDENTS</a>
                                <a href="">APPRENTICES</a>
                                <a href="">CONTACTS</a>
                            </div>
                        </div>
                        <div class="get-access">
                            <img src="img/basket.png">
                            <p>Get access to our amazing courses.</p>
                            <a href="" class="btn">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <a href="" class="login">LOGIN</a>
                <a href="" class="phone"></a>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <h1>APPRENTICESHIPS</h1>
            <p class="updated_at">LAST UPDATED - 04 APRIL 2017</p>
        </div>
    </header>
    <div class="bt">
        <div class="container">
            <div class="table">
                <div class="cell cell-main">CURRENTLY VIEWING - ALL</div>
                <div class="cell">LOCATION</div>
                <div class="cell">DETAILS</div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="container">
            <div class="table item">
                <div class="cell cell-main">
                    <h2 class="title">Motor Vehicle Service and Maintenance Technician (light vehicle)</h2>
                    <div class="label category">AUTOMOTIVE RETAIL</div>
                    <div class="label level-2">LEVEL 2</div>
                </div>
                <div class="cell">
                    <p class="location">LONDON</p>
                </div>
                <div class="cell">
                    <a href="" class="details-btn">
                        <span class="plus"></span>
                        <span class="plus-view-details">VEIW DETAILS</span>
                    </a>
                </div>
                <div class="modal-content">
                    <div class="text">
                        <p>The Level 1 Functional Skills qualification in English is an ideal qualification for learners who wish to develop their English skills for use across a broad range of contexts.  The qualification will encourage learners to demonstrate their ‘functional English’ skills and are essentially concerned with developing and recognising the ability of learners to apply and transfer skills in ways that are appropriate to their situation.  The aims of the qualification are to enable learners to promote the development of English skills for home, leisure and work</p>
                        <p>The qualification consists of 3 components that are individually assessed using a mixture of internal and external assessments.  The course is flexible in design enabling the learner to attempt the formal assessments on an on-demand basis when they feel ready. We provide an 8 session training course, delivered in the workplace by a method of blended learning.</p>
                    </div>
                    <div class="info">
                        <span>LONDON</span>
                        <span>100% EMPLoyer based, day release</span>
                    </div>
                    <div class="level">2</div>
                </div>
            </div>
            <div class="table item">
                <div class="cell cell-main">
                    <h2 class="title">Lead Adult Care Worker</h2>
                    <div class="label category">ADULT CARE</div>
                    <div class="label level-3">LEVEL 3</div>
                </div>
                <div class="cell">
                    <p class="location">LONDON</p>
                </div>
                <div class="cell">
                    <a href="" class="details-btn">
                        <span class="plus"></span>
                        <span class="plus-view-details">VEIW DETAILS</span>
                    </a>
                </div>
                <div class="modal-content">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse qui expedita, sunt enim ratione nihil at quaerat, quae, illo nemo, culpa molestiae. Reprehenderit distinctio id, fugit optio est molestiae.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis debitis adipisci, doloribus, blanditiis dolorem laboriosam obcaecati eligendi vero repellendus repudiandae. Nemo eum nobis fugit repellat, voluptate incidunt, minus ullam hic.</p>
                    </div>
                    <div class="info">
                        <span>LONDON</span>
                        <span>100% EMPLoyer based, day release</span>
                    </div>
                    <div class="level">3</div>
                </div>
            </div>
            <div class="table item">
                <div class="cell cell-main">
                    <h2 class="title">IT, Software, Web and Telecoms Professionals - Advanced Apprenticeship</h2>
                    <div class="label category">IT, Software</div>
                    <div class="label level-4">LEVEL 4</div>
                </div>
                <div class="cell">
                    <p class="location">LONDON</p>
                </div>
                <div class="cell">
                    <a href="" class="details-btn">
                        <span class="plus"></span>
                        <span class="plus-view-details">VEIW DETAILS</span>
                    </a>
                </div>
                <div class="modal-content">
                    <div class="text">
                        <p>Dlor sit amet, consectetur adipisicing elit. Recusandae velit ex, corporis omnis unde provident facilis eaque commodi vitae, doloremque laborum delectus cum non eveniet accusamus eius alias similique a.</p>
                        <p>Aliquam quis maiores pariatur veritatis accusantium voluptatibus saepe in id animi at hic nisi numquam impedit repudiandae, quo ullam error! Vitae, nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quis maiores pariatur veritatis accusantium voluptatibus saepe in id animi at hic nisi numquam impedit repudiandae, quo ullam error! Vitae, nostrum.</p>
                    </div>
                    <div class="info">
                        <span>LONDON</span>
                        <span>Day release</span>
                    </div>
                    <div class="level">4</div>
                </div>
            </div>
            <footer>
                <a href="">LOAD MORE</a>
            </footer>
        </div>
    </div>

    <div class="modal">
        <div class="description" v-if="showDescription">
            <div class="close"></div>
            <div class="table">
                <div class="cell main">
                    <h2>{{ title }}</h2>
                    <div class="labels">
                        <div class="label category">{{ category }}</div>
                        <div class="label" :class="'level-' + level">LEVEL {{ level }}</div>
                    </div>
                    <div class="info" v-html="info"></div>
                    <div class="text" v-html="text"></div>
                </div>
                <div class="cell aside">
                    <div class="aside-content">
                        <div class="icon-circle icon-paper">
                            <img src="img/paper.png" width="50%" alt="">
                        </div>
                        <h3>REQUEST INFORMATION</h3>
                        <p>It only takes a few minutes to request more information about this apprenticeship.</p>
                    </div>
                    <div class="btn" id="get_started_btn">GET STARTED</div>
                </div>
            </div>
        </div>

        <div class="form" v-if="showForm">
            <div class="close"></div>
            <div class="table">
                <div class="cell main">
                    <h2>INFO REQUEST</h2>
                    <form action="" class="info-form">
                        <label for="">NAME</label>
                        <input type="text">
                        <label for="">EMAIL</label>
                        <input type="text">
                        <label for="">TELEPHONE</label>
                        <input type="text">
                        <label for="">NOTES</label>
                        <textarea></textarea>
                        <div class="submit-btn-area">
                            <button type="button" class="btn" id="submit_form_btn">SUBMIT</button>
                        </div>
                    </form>
                </div>
                <div class="cell aside">
                    <div class="aside-content">
                        <div class="icon-circle icon-paper">
                            <img src="img/save-circle.png" width="50%" alt="">
                        </div>
                        <h3>NEED HELP?</h3>
                        <p>EMAIL HELP@UCAN.CO.UK OR CALL US ON  <span>01278&nbsp;452&nbsp;015</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="msgSent" v-if="showMsgSent">
            <div class="close"></div>
            <div class="aside">
                <div class="icon-circle icon-paper">
                    <img src="img/paper-success.png" width="50%" alt="">
                </div>
                <h3>MESSAGE SENT</h3>
                <p>One of the team member will be in touch with you shortly</p>
                <a href="" class="btn" id="back_to_courses_btn">BACK TO COURSES</a>
            </div>
        </div>
    </div>

    <!-- <div class="modal">
        <div class="close"></div>
        <div class="table">
            <div class="cell main">
                <h2>IT, Software, Web and Telecoms Professionals - Advanced Apprenticeship</h2>
                <div class="labels">
                    <div class="label category">IT, Software, Web and Telecoms Professionals</div>
                    <div class="label level-4">LEVEL 4</div>
                </div>
                <div class="info">
                    <span>LONDON</span>
                    <span>100% EMPLoyer based, day release</span>
                </div>
                <div class="text">
                    <p>The Level 1 Functional Skills qualification in English is an ideal qualification for learners who wish to develop their English skills for use across a broad range of contexts.  The qualification will encourage learners to demonstrate their ‘functional English’ skills and are essentially concerned with developing and recognising the ability of learners to apply and transfer skills in ways that are appropriate to their situation.  The aims of the qualification are to enable learners to promote the development of English skills for home, leisure and work</p>
                    <p>The qualification consists of 3 components that are individually assessed using a mixture of internal and external assessments.  The course is flexible in design enabling the learner to attempt the formal assessments on an on-demand basis when they feel ready. We provide an 8 session training course, delivered in the workplace by a method of blended learning.</p>
                </div>
            </div>
            <div class="cell aside">
                <div class="icon-circle icon-paper">
                    <img src="img/paper.png" width="50%" alt="">
                </div>
                <h3>REQUEST INFORMATION</h3>
                <p>It only takes a few minutes to request more information about this apprenticeship.</p>
                <div class="btn">GET STARTED</div>
            </div>
        </div>
    </div> -->

    <script src="https://unpkg.com/vue@2.3.3"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script> window.jQuery || document.write('<script src="js/jquery-3.1.0.min.js"><\/script>')</script>
	<script src="js/main.js"></script>
</body>
</html>
