@import '_normalize';


$c_dark: #2c303a;
$c_pink_light: #c591ec;
$c_pink_dark: #9e80dd;
$c_gray_bg: #f1f4f7;
$c_text_dark: #2b303b;
$c_text_gray: #83838f;

body{
    font-family: 'Raleway', sans-serif;
    background: $c_gray_bg;
    color: $c_text_dark;
}

a{
    color: #8565cc;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.logo{
    display: inline-block;
    width: 162px;
    height: 38px;
    margin-top: 17px;
    background: url('../img/logo.svg') red;
    // background-s;
}

.mainnav{
    background: $c_dark;
    color: #fff;
    height: 72px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.54);
    a{
        color: #fff;
    }
}

.pages{
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        &:not(:last-of-type){
            margin-right: 30px;
        }
    }
    a{
        text-decoration: none;
        line-height: 72px;
        font-size: 13px;
    }
}

header{
    background: linear-gradient(to right, $c_pink_light, $c_pink_dark);
    color: #fff;
    padding: 80px 0 140px;
    h1{
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
    .updated_at{
        font-size: 12px;
        letter-spacing: 0.05em;
    }
    .table{
        border-top: 1px solid #fff;
    }
}

footer{
    text-align: center;
    padding: 30px 0 100px;
    font-weight: 600;
    font-size: 12px;
    a{
        letter-spacing: 0.1em;
        opacity: 0.4;
        transition: opacity .2s;
        &:hover{
            opacity: 1;
        }
    }
}

.table{
    display: table; 
    width: 100%;
}

.cell{
    display: table-cell;
    vertical-align: middle;
    min-width: 200px;
    box-sizing: border-box;
}

.cell-main{
    width: 100%;
}

.bt{
    border-top: 1px solid #fff;
    margin-top: -75px;
    color: #fff;
    margin-bottom: 50px;
    .cell{
        height: 74px;
        line-height: 74px;
        padding: 0 50px;
        &:first-of-type{
            padding-left: 0;
        }
    }
}

.item{
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    .cell{
        padding: 30px 50px;
    }
    .title{
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0 0 20px;
    }
    .location{
        color: $c_text_gray;
        font-size: 13px;
    }
    .modal-content{
        display: none;
    }
}

.label{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 0.05em;
    background: $c_gray_bg;
    color: $c_text_gray;
    border-radius: 4px;
    text-transform: uppercase;
    white-space: nowrap;
    &:not(:last-of-type){
        margin-right: 20px;
    }

    &.level-1{
        background-color: #f0f4f7;
        color: #83838f;
    }
    &.level-2{
        background-color: #5a9ed4;
        color: #fff;
    }
    &.level-3{
        background-color: #70c691;
        color: #fff;
    }
    &.level-4{
        background-color: #ec8a6a;
        color: #fff;
    }
    &.level-5{
        background-color: #f98562;
        color: #fff;
    }
}

.plus{
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 41px;
    background: url('../img/plus.svg');
    background-size: contain;
}

.plus-view-details{
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    color: #83838f;
    font-size: 12px;
    position: relative;
    top: 2px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.burger{
    display: none;
    width: 27px;
    height: 18px;
    background: url('../img/burger.svg');
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1080px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #2b303b;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;

    &.active{
        opacity: 1;
        visibility: visible;
    }

    .main{
        padding: 50px 80px;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto;
    }
    .aside{
        background: #f1f4f7;
        border-radius: 0 4px 4px 0;
        min-width: 365px;
        padding: 50px 40px;
        text-align: center;
        p{
            font-size: 12px;
            text-align: center;
            line-height: 1.6;
        }
        .btn{
            margin-top: 30px;
        }
    }
    .info{
        color: #83838f;
        font-size: 12px;
        margin-bottom: 20px;
        span{
            text-transform: uppercase;
            &:not(:last-of-type){
                margin-right: 16px;
            }
            &:before{
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                border: 2px solid #ec8a6a;
                border-radius: 10px;
                margin-right: 8px;
                position: relative;
                top: 2px;
            }
        }
    }
    h2{
        margin-top: 0;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
    }
    .labels{
        margin-bottom: 20px;
    }
    .text{
        font-size: 13px;
        line-height: 1.8;
        color: #2b303b;
    }
    .icon-circle{
        width: 194px;
        height: 194px;
        background: #fff;
        border-radius: 200px;
        position: relative;
        margin: 0 auto 50px;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    h3{
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }
    .close{
        width: 28px;
        height: 28px;
        position: absolute;
        left: 20px;
        top: 20px;
        background: url('../img/close.png');
        background-size: contain;
        cursor: pointer;
    }

    .form{
        .close{
            top: 18px;
        }
        h2{
            font-size: 18px;
            border-bottom: 1px solid #f0f4f7;
            padding: 0 80px 20px;
            margin-left: -80px;
            margin-right: -80px;
        }
        .main{
            padding-top: 20px;
        }
        form{
            padding-top: 20px;
        }
    }
}

.btn{
    display: inline-block;
    background: #06b15a;
    color: #fff;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    min-width: 130px;
    text-align: center;
}

.info-form{
    input, textarea{
        display: block;
        width: 100%;
        border: 2px solid #f0f4f7;
        box-sizing: border-box;
    }
    input{
        height: 40px;
        margin-bottom: 15px;
    }
    textarea{
        height: 115px;
        resize: vertical;
        margin-bottom: 40px;
    }
    label{
        font-size: 12px;
        margin-bottom: 10px;
    }
}


@media (max-width: 900px){

    .modal{
        .table, .cell{
            display: block;
        }
        .main{
            padding: 70px 18px 15px;
        }
        .aside-content{
            display: none;
        }
        .aside{
            padding-top: 20px;
            padding-bottom: 20px;
            min-width: initial;
            .btn{
                margin-top: 0;
            }
        }
        .info{
            border-top: 1px solid #f0f4f7;
            padding-top: 20px;  
            span{
                display: block;
                &:not(:last-of-type){
                    margin-right: 0;
                    margin-bottom: 10px;    
                }
            }
        }
        .label{
            margin-bottom: 10px;    
        }
    }
}

@media (max-width: 800px){

    .pages{
        background: $c_dark;
        padding: 20px 30px;
        right: 0;
        top: 72px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s;
        &.active{
            transform: scaleY(1);
        }

        li{
            display: block;
        }
    }

    .burger{
        display: block;
    }

    header{
        padding-bottom: 80px;
        h1{
            font-size: 28px;
        }
    }

    .bt{
        display: none;
    }

    .items{
        margin-top: 50px;
    }

    .item{
        display: block;
        .cell{
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            &:nth-of-type(2){
                display: none;
            }
        }
        .cell-main{
            position: relative;
            padding-top: 120px;
            padding-bottom: 0;
        }
        .label{
            position: absolute;
            top: 20px;
            left: 20px;
            &.category{
                top: 60px;
            }
        }
    }


    .plus-view-details{
        display: inline;
    }
}
